@{
    ViewData["Title"] = "Subida de Empleados";
 }

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Subida de empleados</h1>
</div>
@using (Html.BeginForm("SubidaEmpleadosPOST", "Home", FormMethod.Post))
{
  /*@if(ViewBag.Mensaje!=null){
  <div class="alert-primary">@ViewBag.Mensaje</div>
  }*/
<div class="text-center">
  <div class="container dos">
    <div class="row">
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleInputEmail1" class="">Nombre</label>
            @Html.TextBox("nombre")
          </div>
        </div>
        <div class="col-md-4">  
          <div class="form-group gallardo">
            <label for="exampleInputPassword1">DNI</label>
            @Html.TextBox("dni")
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleInputPassword1">Area</label>
            <select name="IdArea">
              <option value=""></option>
              @foreach(Area area in ViewBag.ListaAreas)
              {
                <option value="@area._IdArea">@area.Nombre</option>
              }
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleInputPassword1">Direccion</label>
            @Html.TextBox("direccion")
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleFormControlTextarea1">Descripcion</label>
            @Html.TextBox("descripcion")
          </div>
        </div>
          <div class="col-md-4">
            <div class="form-group gallardo">
              <label for="exampleFormControlTextarea1">Jefe</label>
              @Html.DropDownList("idjefe", new SelectList(ViewBag.ListaJefes, "IdJefe", "Nombre"), string.Empty)
            </div>
          </div>
      </div>
      <button class="btn boton" href='@Url.Action("SubidaEmpleadosPOST","Home")'>Subir</button>
    </div>
</div>
}
