@using GestionARG.Models
@model Tarea
@{
    ViewData["Title"] = "Subida de Tareas";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Subida de tareas</h1>
    <h3 class="LetraMenosGrande">Recurde que siempre que quiera agregar una tarea, empiece por el numero 0, debido a que para empezar no tendra calificaion </h3>
</div>
@using (Html.BeginForm("SubidaTarea", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.idTarea)
    @if(ViewBag.Mensaje!=null){
    <div class="alert-primary">@ViewBag.Mensaje</div>
    }

  <div class="container dos">
    <div class="row">
        <div class="col-md-4">
          
            Nombre
            @Html.TextBoxFor(m => m.nombre)
          
        </div> 
        <div class="col-md-4">
          
            Fecha creacion
            @Html.TextBoxFor(m => m.fechaCreacion, "{0:dd/MM/yyyy}")
          
        </div>
        <label for="exampleInputPassword1">Area</label>
            @Html.DropDownList("IdArea", new SelectList(ViewBag.ListaAreas, "IdArea", "Nombre", Model.idArea), "", null)
        <div class="col-md-4">
          
            Descripcion
            @Html.TextBoxFor(m => m.descripcion)
        </div>      
      </div>
      <button type="submit" class="btn boton" href='@Url.Action("Tareas","Home")'>Subir</button>
    </div>
}