@{
    ViewData["Title"] = "Subida de Tareas";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Subida de tareas</h1>
    <h3 class="LetraMenosGrande">Recurde que siempre que quiera agregar una tarea, empiece por el numero 0, debido a que para empecesar no tendra calificaion </h3>
</div>
@using (Html.BeginForm("SubidaTareas", "Home", FormMethod.Post))
{
<div class="text-center">
  <div class="container dos">
    <div class="row">
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleInputEmail1">Nombre 
            @Html.TextBox("nombre")
          </div>
        </div>
        <div class="col-md-4">  
          <div class="form-group gallardo">
            <label for="exampleInputPassword1">Fecha limite de la tarea 
            @Html.TextBox("fechaLimite")
          </div>
        </div> 
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleInputPassword1">Fecha de inicio 
            @Html.TextBox("fechaCreacion")
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleInputPassword1">Puntaje
            @Html.TextBox("puntaje")
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleFormControlTextarea1">Descripcion
             @Html.TextBox("descripcion")
          </div>
        </div>
          <div class="col-md-4">
            <div class="form-group gallardo">
              <label for="exampleFormControlTextarea1">Id del emp correspondiente
               @Html.TextBox("idEmpleado")
            </div>
          </div>
      </div>
      <button class="btn boton" href='@Url.Action("SubidaTareasPOST","Home")'>Subir</button>
    </div>
</div>
}