@{
    ViewData["Title"] = "Subida de Empleados";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Subida de empleados</h1>
    <h3>Escriba el area correspondiente del empleado que usted queire agregar. Luego coloque el ID del jefe correspondinte dependiendo de su area</h3>
    <h4 class="LetraMenosGrande">Ventas (1) Compras (2) Administracion (3)</h4>
</div>
@using (Html.BeginForm("SubidaEmpleadosPOST", "Home", FormMethod.Post))
{
<div class="text-center">
  <div class="container dos">
    <div class="row">
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleInputEmail1" class="">Nombre</label>
            @Html.TextBox("nombre")
          </div>
        </div>
        <div class="col-md-4">  
          <div class="form-group gallardo">
            <label for="exampleInputPassword1">DNI
            @Html.TextBox("dni")
          </div>
        </div> 
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleInputPassword1">Area 
            @Html.TextBox("area")
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleInputPassword1">Direccion 
            @Html.TextBox("direccion")
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group gallardo">
            <label for="exampleFormControlTextarea1">Descripcion 
            @Html.TextBox("descripcion")
          </div>
        </div>
          <div class="col-md-4">
            <div class="form-group gallardo">
              <label for="exampleFormControlTextarea1">Id del Jefe correspondiente
              @Html.TextBox("idjefe")
            </div>
          </div>
      </div>
      <button class="btn boton" href='@Url.Action("SubidaEmpleadosPOST","Home")'>Subir</button>
    </div>
</div>
}
