@using System.Data;
@model DataTable;
@{
    ViewData["Title"] = "Tareas";
}
<div class="text-center">
  <h1 class="LetraGrande">Administración de Tareas</h1>
</div>
<div class="text-center">
  <div class="container; caja-control margen">
    <div class="row">
        <div class="col-md-6">
            <a href='@Url.Action("SubidaTareas","Home")' class="btn box-control">Crear tarea</a>
        </div>
        <div class="col-md-6">
            <a href='@Url.Action("TareaHecha","Home")' class="btn box-control">Registrar Tarea Realizada</a>
        </div>
    </div>
  </div>
    <h1 class="LetraGrande">Listado de Tareas</h1>
    @foreach (Tarea t in ViewBag.ListaTareas){
      <div class="container; caja-control margen">
        <div class="row"><hr>
          <div class="col-md-6 margen">
            <h3 class="lisgrup">
                @t.nombre
            </h3>
          </div>
            <div class="col-md-3 margen">
              <a href='@Url.Action("EditarTarea", "Home", new { idTarea=t.idTarea })'><button type="button" class="editbutton">Editar</button></a>
            </div>
            <div class="col-md-3 margen">
              <a href='@Url.Action("EliminarTarea", "Home", new { idTarea=t.idTarea })'><button type="button" class="deletebutton">Eliminar</button></a>
            </div>
        </div>
      </div>
    }
  </div>
</div>