@using GestionARG.Models
@model TareaHecha
@{
    ViewData["Title"] = "Tarea Hecha";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Registrar tareas hechas</h1>
</div>
@using (Html.BeginForm("TareaHechaPost", "Home", FormMethod.Post))
{

    @if(ViewBag.Mensaje!=null){
    <div class="alert-primary">@ViewBag.Mensaje</div>
    }

  <div class="container dos">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group gallardo">
                <label for="exampleFormControlTextarea1">Area</label>
                @Html.DropDownList("IdArea", new SelectList(ViewBag.ListaAreas, "IdArea", "Nombre", Model.idArea), "", null)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group gallardo">
                <label for="exampleFormControlTextarea1">Tarea</label>
                @Html.DropDownList("idtarea", new SelectList(ViewBag.ListaTareas, "idTarea", "nombre"), string.Empty)
            </div>
        </div>
        <div class="col-md-4">
          
            Fecha creacion
            @Html.TextBoxFor(m => m.fechaCreacion, "{0:dd/MM/yyyy}")
          
        </div>
        <div class="col-md-4">

            Puntaje
                <select name="puntaje">
                    <option value="0" selected></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
        
        </div>
        <div class="col-md-4">
            <div class="form-group gallardo">
                <label for="exampleFormControlTextarea1">Empleado</label>
                @Html.DropDownList("idempleado", new SelectList(ViewBag.ListaEmpleados, "IdEmpleado", "Nombre"), string.Empty)
            </div>
        </div>
      </div>
      <button type="submit" class="btn boton" href='@Url.Action("Tareas","Home")'>Enviar</button>
    </div>
}