@using GestionARG.Models
@model Tarea
@{
    ViewData["Title"] = "Tarea Hecha";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Subida de tareas</h1>
    <h3 class="LetraMenosGrande">Recurde que siempre que quiera agregar una tarea, empiece por el numero 0, debido a que para empezar no tendra calificaion </h3>
</div>
@using (Html.BeginForm("SubidaTareas", "Home", FormMethod.Post))
{

    @if(ViewBag.Mensaje!=null){
    <div class="alert-primary">@ViewBag.Mensaje</div>
    }

  <div class="container dos">
    <div class="row">
        <div class="col-md-4">
          
            Nombre
            @Html.TextBoxFor(m => m.nombre)
          
        </div>
        <div class="col-md-4">  
          
            Fecha limite
            @Html.TextBoxFor(m => m.fechaLimite, "{0:dd/MM/yyyy}")
          
        </div> 
        <div class="col-md-4">
          
            Fecha creacion
            @Html.TextBoxFor(m => m.fechaCreacion, "{0:dd/MM/yyyy}")
          
        </div>
        <div class="col-md-4">
          
            Puntaje
            @Html.TextBoxFor(m => m.puntaje)
          
        </div>
        <div class="col-md-4">
          
            Descripcion
            @Html.TextBoxFor(m => m.descripcion)
             
          
        </div>
          <div class="col-md-4">
            <div class="form-group gallardo">
              <label for="exampleFormControlTextarea1">Empleado</label>
              @Html.DropDownList("idempleado", new SelectList(ViewBag.ListaEmpleados, "IdEmpleado", "Nombre"), string.Empty)
            </div>
          </div>

         

      </div>
      <button type="submit" class="btn boton" href='@Url.Action("SubidaTareas","Home")'>Subir</button>
    </div>
}