@using GestionARG.Models
@model TareaHecha
@{
    ViewData["Title"] = "Tarea Hecha";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Registrar tareas hechas</h1>
</div>
@using (Html.BeginForm("TareaHechaPost", "Home", FormMethod.Post))
{

    @if(ViewBag.Mensaje!=null){
    <div class="alert-primary">@ViewBag.Mensaje</div>
    }

  <div class="container dos">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group gallardo">
                <label for="exampleFormControlTextarea1">Area</label>
                @Html.DropDownList("IdArea", new SelectList(ViewBag.ListaAreas, "IdArea", "Nombre", Model.idArea), "", null)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group gallardo">
                <label for="exampleFormControlTextarea1">Tarea</label>
                @Html.DropDownList("idtarea", Enumerable.Empty<SelectListItem>(), "")
            </div>
        </div>
        <div class="col-md-4">
          
            Fecha creacion
            @Html.TextBoxFor(m => m.fechaCreacion, "{0:dd/MM/yyyy}")
          
        </div>
        <div class="col-md-4">

            Puntaje
                <select name="puntaje">
                    <option value="0" selected></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
        
        </div>
        <div class="col-md-4">
            <div class="form-group gallardo">
                <label for="exampleFormControlTextarea1">Empleado</label>
                @Html.DropDownList("idempleado", Enumerable.Empty<SelectListItem>(), "")
            </div>
        </div>
      </div>
      <button type="submit" class="btn boton" href='@Url.Action("Tareas","Home")'>Enviar</button>
    </div>
}
@section scripts {
    
    <script type="text/javascript">
        $(function(){
         $("#IdArea").on("change", function(){
            
            $.ajax({  
                type: "get",  
                url: "@Url.Action("GetTareas", "Home")",  
                data: { idArea: $('#IdArea').val() },  
                datatype: "json",  
                traditional: true
                }).done(function(tareas){
                    var $dropdown = $("#idtarea");
                    $dropdown.empty();
                    $dropdown.append($("<option />").val("").text(""));
                    $.each(tareas, function() {
                        $dropdown.append($("<option />").val(this.idTarea).text(this.nombre));
                    });
                });
         });   
        })
        $(function(){
         $("#IdArea").on("change", function(){
            
            $.ajax({  
                type: "get",  
                url: "@Url.Action("GetEmpleados", "Home")",
                data: { idArea: $('#IdArea').val() },
                datatype: "json",
                traditional: true
                }).done(function(empleados){
                    var $dropdown = $("#idempleado");
                    $dropdown.empty();
                    $dropdown.append($("<option />").val("").text(""));
                    $.each(empleados, function() {
                        $dropdown.append($("<option />").val(this.idEmpleado).text(this.nombre));
                    });
                });
         });   
        })
    </script>
}