@using GestionARG.Models
@model Tarea
@{
    ViewData["Title"] = "Tarea Hecha";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Registrar tareas hechas</h1>
</div>
@using (Html.BeginForm("SubidaTareas", "Home", FormMethod.Post))
{

    @if(ViewBag.Mensaje!=null){
    <div class="alert-primary">@ViewBag.Mensaje</div>
    }

  <div class="container dos">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group gallardo">
                <label for="exampleFormControlTextarea1">Tarea</label>
                @Html.DropDownList("idtarea", new SelectList(ViewBag.ListaTareas, "IdTarea", "Nombre"), string.Empty)
            </div>
        </div>
        
        <div class="col-md-4">
          
            Fecha creacion
            @Html.TextBoxFor(m => m.fechaCreacion, "{0:dd/MM/yyyy}")
          
        </div>
        <div class="col-md-4">
          
            Puntaje
            @Html.TextBoxFor(m => m.puntaje)
          
        </div>
        <div class="col-md-4">
            <div class="form-group gallardo">
                <label for="exampleFormControlTextarea1">Empleado</label>
                @Html.DropDownList("idempleado", new SelectList(ViewBag.ListaEmpleados, "IdEmpleado", "Nombre"), string.Empty)
            </div>
        </div>
      </div>
      <button type="submit" class="btn boton" href='@Url.Action("SubidaTareas","Home")'>Subir</button>
    </div>
}